.FlightBookingForm {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.FlightBookingForm h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.FlightBookingForm .bookingSummary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.FlightBookingForm .summaryItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.FlightBookingForm .itemLabel {
    font-weight: bold;
    color: #555;
}

.FlightBookingForm .itemValue {
    color: #333;
}

.FlightBookingForm .passengerInfo, .passengerDetails {
    margin-bottom: 20px;
}

.FlightBookingForm .passengerInfo h2, .passengerDetails h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.FlightBookingForm .formGroup {
    margin-bottom: 15px;
}

.FlightBookingForm .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.FlightBookingForm .formGroup input, .formGroup select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.FlightBookingForm .formGroup input:focus, .formGroup select:focus {
    outline: none;
    border-color: #39b0ff;
}

.FlightBookingForm .openModalButton {
    padding: 15px 0;
    font-size: 1em;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.FlightBookingForm .btnSection {
    text-align: center;
}

.FlightBookingForm .payButton {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #39b0ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.FlightBookingForm .payButton:hover {
    background-color: #368fff;
}
