/*스타일링*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.background {
    background: url(images/image3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
}

.container {
    transform: matrix();
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 550px;
    margin-top: 20px;
    background: url(images/image3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;


}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}


.social-icon a i {
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}


.social-icon a:hover i {
    transform: scale(1.2);
}

.container .vemail-section {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fff;
    backdrop-filter: blur(10px);
}


.vemail-section .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}


.vemail-section .form-box.vemail {
    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.vemail-section.active .form-box.vemail {
    transform: translateX(430px);
    transition-delay: 0s;
}


.vemail-section .form-box h2 {
    text-align: center;
    font-size: 25px;
}

.form-box .input-box {
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
    position: relative;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;

}


.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;

}


.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}


.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}


.btn {
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #E49A8E;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
    margin-top: 20px; /* 버튼 위에 10픽셀의 공간 추가 */

}

/* Login.css */

/* Login.css */

/* 우편번호 모달 */
.postcode-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* 너비 설정 */
    height: 400px; /* 높이 설정 */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* 모달 닫기 버튼 */
.modal-close-btn {
    background-color: #f44336;
    color: white;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');


    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
}

.post-input-btn {
    display: flex;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .container {
        width: 90%;
    }
}

.vemail .form-box {
    transition: transform .6s ease-in-out;
}

.success-message {
    color: green;
    font-size: 16px;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}


.delete-btn {
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #E49A8E;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
    margin-top: 20px; /* 버튼 위에 10픽셀의 공간 추가 */

}

.confirm-btn {
    background: #fff;
    width: 50%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #E49A8E;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
    margin-top: 20px; /* 버튼 위에 10픽셀의 공간 추가 */
}

.cancel-btn {
    background: #fff;
    width: 50%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #E49A8E;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
    margin-top: 20px; /* 버튼 위에 10픽셀의 공간 추가 */
}

.confirmation-dialog{
    padding-top: 30px;
}